{% extends 'base.html' %}
{% load static %}

{% block content %}
    <table class="table table-stripped">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Site</th>
        </tr>
        </thead>
        {% for supplier in suppliers %}
        <tr>
            <td><a href="{% url 'supplier-detail' supplier.id %}"><img src="{% static supplier.logo %}" style="max-width: 100px; max-height: 50px"></a></td>
            <td><a href="{% url 'supplier-detail' supplier.id %}">{{ supplier.name }}</a></td>
            <td>{{ supplier.phone }}</td>
            <td><a href="mailto:{{ supplier.email }}">{{ supplier.email }}</a></td>
            <td><a href="{{ supplier.site }}">{{ supplier.site }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
