{% extends 'base.html' %}

{% block content %}
    <table>
        <tr>
            <td>Name</td>
            <td>{{ supplier.name }}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{ supplier.phone }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ supplier.email }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ supplier.postcode }}, {{ supplier.address }}</td>
        </tr>
        <tr>
            <td>Site</td>
            <td><a href={{ supplier.site }}>{{ supplier.site }}</a></td>
        </tr>
    </table>
    {% if contacts %}
        <hr>
        {% for contact in contacts %}
            <ul class="list-unstyled">
                <li><strong>{{ contact.position }}</strong></li>
                <li>{{ contact.name }} {{ contact.surname }}</li>
                <li>{{ contact.phone }}</li>
                <li>{{ contact.email }}</li>
                <li>{{ contact.description }}</li>
            </ul>
        {% endfor %}
    {% endif %}

{% endblock %}