{% extends "base.html" %}

{%  if user.is_authenticated %}
    {% block header %}
    {% endblock header %}
{% endif %}

{% block content %}
    <div class="container" style="padding-top: 20px">
        {% if form.errors %}
            <p style="color: red">Your username and password didn't match. Please try again.</p>
        {% endif %}
        {% for error in form.errors %}
            <p style="color: red">Invalid: {{ error }} </p>
        {% endfor %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
    </div>
    <div class="container" style="width: auto; padding-bottom: 20px">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                       name="password">
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
            <input type="submit" value="Login" class="btn btn-primary "/>
        </form>
        <table width="100%">
            <tr>
                <td style="text-align: left"><a href="{% url 'registration' %}">Registration</a></td>
                <td style="text-align: center"><a href="{% url 'change_password' %}">Change password</a></td>
                <td style="text-align: right"><a href="{% url 'forget_password' %}">Forget password?</a></td>
            </tr>
        </table>

        {# Assumes you setup the password_reset view in your URLconf #}
        {#<p><a href="{% url '' %}">Lost password?</a></p>#}
    </div>
{% endblock content %}
