{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p><a href="http://{{ site_url }}{% static image_link %}">
        <img src="http://{{ site_url }}{% static image_link %} " alt="SOM.png"/></a></p>
    <p>Dear {{ name.title }}. Follow the link below for recover your password.</p>
    <p>The link is actual for 24 hours. </p>
    <p><a href="http://{{ site_url }}{% url 'restore_password' code=code %}">LINK</a></p>
</body>
